#viewTasks{
    padding-bottom: 5rem;
}
.btn{
    fill:currentColor;
}

.icon{
    position:relative;
    top:.2rem;
}
#table-head > th{
    border:none;
}
#table-body:hover > th{
    background-color:#E8E8E8;
}

#table-body:hover > td{
    background-color:whitesmoke;

}