<app-navigation [account]="account"></app-navigation>
<div class="container-fluid pt-4">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3>Change Password</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="inputPassword">Enter your old password:</label>
            <p>
              <small *ngIf="badPassword" class="text-danger">This password is incorrect</small>
            </p>
            <input name="passwordfield"  type="password" class="form-control" id="oldPassword" aria-describedby="passwordHelp"
              placeholder="Old Password" required [(ngModel)]="account.password">
          </div>
          
          <div class="form-group">
            <label for="inputPassword">Enter your new password:</label>
            
            <input name="passwordNewfield" type="password" class="form-control" id="newPassword" aria-describedby="passwordHelp"
              placeholder="New Password" required [(ngModel)]="newpass">
              <small>
                  Passwords should be at least 8 characters and should contain numbers and letters.
                </small>
          </div>
          <div class="form-group">

            <label for="inputPassword">Re-enter your new password:</label>
            <br>
            <small *ngIf="newpass != reenter" class="text-danger">Passwords don't match</small>
            <input name="passwordRefield" type="password" class="form-control" id="newRePassword" aria-describedby="passwordHelp"
              placeholder="Re-enter Password" required [(ngModel)]="reenter">
          </div>
          <button class="btn btn-dark float-right" (click)="authenticateUser()">Change Password</button>
        </div>
      </div>
    </div>
  </div>
</div>