* {
    font-family: Georgia, serif;
}
.container{
    width:45rem;
    padding-top:3rem;
}

#reviewComment{

    border-left: .25rem solid gray;
    padding:.5rem;
}

.indent{
    position: relative;
    left:1rem;
}
.btn{
    fill:currentColor;
}

.icon{
    outline:none;
    position:relative;
    top:.2rem;
}

.btn-sm{
    position: relative;
}

#date{
    position: relative;
    left:4.5rem;
}