
*{
    font-size:100%;
    /*fdd378*/
}
.btn-outline-dark, btn-outline-dark:hover, btn-outline-dark:active, btn-outline-dark:visited {
    background-color: #fdd378;
    border-color:#fdd378;
}
.fill{
    font-family: Georgia, serif;
    font-size:100%;

}
.d-flex{
    padding-top:1.5rem;
    padding-bottom:1rem;
}
#backImg{
    width:52.5rem;
    height:35rem;
}
#float-slide{
    position: absolute;
}
.arr{
    position: absolute;
    top:16.5rem;
}

#right{
    left:23.5rem;
}

#left{
    right:23.5rem;
}
#slide{
    position: absolute;
    left:-13rem;
    top:12rem;
}
#dotContainer{
    position: relative;
    top:33rem;
}

.dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: .1rem solid #536872;
    display: inline-block;
}
.full-circle{
    background-color: #536872;
}

#title{
    font-size:2.5rem;
    color:white;
    text-shadow: 2px 2px 8px #fdd378;
}

#desc{
    font-family: Georgia, serif;
    color:white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 8px #fdd378;
}