.container-fluid{
    padding-top:3rem;
}
* {
    font-family: Georgia, serif;
}

row > .nav{
    min-width:16rem;
    max-width:16rem;
}
.nav-pills > .nav-link{
    border-radius:0;
    background-color:#909090;
    color:white;
    text-shadow: 1px 1px 3px #fdd378;
    font-size:1.5rem;
    
}

.nav-pills > .nav-link:hover{
    background-color:gray;
}

.nav-pills > .active{
    background-color:#536872;
    font-size:1.65rem;
}

.icon{
    fill:currentColor;
    position:relative;
    top:.2rem;
}
