<div class="container">
  <div class="card">
    <div class="card-header text-white bg-secondary">Supplies List</div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <label for="input4Name">Name</label>
          <input type="text" class="form-control" id="input4Name" name="UserName"/> <br>
          <div class="form-group col-md-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Wood</label>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Steel</label>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck3">
              <label class="custom-control-label" for="customCheck3">Concrete</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="notebox">Additional Notes</label>
          <textarea class="form-control" id="notebox" rows="2" name="notes"></textarea>
        </div>
      </form>
      <button type="button" class="btn btn-success">Order</button>
        <button type="submit" class="btn btn-warning">Edit</button>
      <button type="submit" class="btn btn-danger">Cancel</button>

    </div>
  </div>
</div>
