<div id="pageBody">
  <h1> Sign Up: </h1>

  <div  *ngIf="userAccount.type=='user'">
    <h2 class ="headerType">User</h2>
  </div>
  <div *ngIf="userAccount.type=='supplier'">
    <h2 class ="headerType">Supplier</h2>
  </div>
  <div id="signupImg">
    <img id="img" src="\assets\images\signup.jpg">
    <div [ngClass]="{'userSlide':userAccount.type==='user',
                      'supplierSlide':userAccount.type=='supplier'}">
      <div id="left" class="slider"></div>
      <div id ="right" class="slider"></div>
    </div>
    <div *ngIf="userAccount.type=='user'">
      <div id="supplierLogin">
        <h3> Not a Construction Company?</h3>
        <p> No problem! </p>
        <p> Click below to create a supplier account. </p>
        <button  type="SignUp" class="btn btn-success" (click)="setSupplier()">Create Supplier Account</button>
      </div>
    </div>

    <div *ngIf="userAccount.type=='supplier'">
      <div id="userLogin">
        <h3> Not a Supplier?</h3>
        <p> No problem! </p>
        <p> Click below to create an user account. </p>
        <button  type="SignUp" class="btn btn-success" (click)="setUser()">Create User Account</button>
      </div>
    </div>



   <div id="signupText" [ngClass]="{'userSignup':userAccount.type==='user',
                                    'supplierSignup':userAccount.type=='supplier'}">


      

      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" required id="name" aria-describedby="emailHelp" placeholder="Enter full name" [(ngModel)]="userAccount.name" name="namefield">
        </div>
        <div class="form-group">
          <label for="userEmail">Email address</label>
          <input type="email" class="form-control" required id="userEmail" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="userAccount.email" name="emailfield">
          <br>
          <small id="emailHelp">We'll never share your email with anyone else.</small>
        </div>
        <div *ngIf="userAccount.type=='supplier'">
          <div class="form-group">
            <label for="inputCompanyName">Company Name</label>
            <input class="form-control" required id="inputCompanyName" placeholder="Enter company name" [(ngModel)]="userAccount.companyname"
                name="companyfield">
          </div>
          <div class="form-group">
            <label for="inputLocation">Location</label>
            <input class="form-control" required id="inputLocation" placeholder="Enter location" [(ngModel)]="userAccount.location" name="locationfield">
          </div>
          <div class="form-group">
            <label for="inputSupplies">Supplies</label>
            <select class="form-control" id="inputSupplies" [(ngModel)]="userAccount.supply" name="supplyfield">
              <option></option>
              <option [value]="supply.id" *ngFor="let supply of supplies">
                {{ supply.name }}
              </option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input name="passwordfield" ng-model="passwordfield" type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp"
                  placeholder="Password" required>
          <br>
          <small id="passwordHelp">
            Passwords should be at least 8 characters and should contain numbers and letters.
          </small>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Password" [(ngModel)]="userAccount.password"
                  name="confirmfield" required>
        </div>

        

        <p id="signin"> 
          <button id="register" type="submit" class="btn btn-success">Register</button>
          Already have an account?
          <a routerLink="/login">Sign in</a>
        </p>
      </form>
    </div>

</div>





</div>
