#pageBody{
	z-index: -5;
	overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
    background: linear-gradient(to bottom right, #F8F9F9, grey);
    font-family: Georgia, serif;
}

#signupImg{
    position:relative;
    /overflow: hidden;
    box-shadow: .5em .5em 3em black;
    width:115em;
    height:55em;
}

#img{
    width:115em;
    height:55em;
}

.slider{
    position:absolute;
    background-color: white;
    height:55em;
    margin-top: -55em;
}

#leftUser{
    margin-left: 40em;
    width:75em;
}

#leftSupplier{
    margin-left: 40em;
    width:0em;
}

#rightUser{
    width:0em;
}

#rightSupplier{
    width:75em;
}

#supplierLogin{
    color:white;
    text-shadow: 2px 2px 5px grey;
    font-size:1.5em;
    position:absolute;
    margin-top: -25em;
    margin-left: 2em;
}

#userLogin{
    color:white;
    text-shadow: 2px 2px 5px grey;
    font-size:1.5em;
    position:absolute;
    margin-top: -25em;
    margin-left: 55em;
}

#signupText{
    color:black;
    position:relative;
    height:40em;
    width:45em;
    z-index: 1;
    

}

.userSignup{
    font-size:1.25em;
    top:-40em;
    left:38em;


}

.supplierSignup{
    font-size: 1em;
    top:-52em;
    left:6em;
}

#signin{
    padding-top: .5em;
    font-size:1em;
}
