a{
    color:#D3D3D3;
}

small{
    color:  #E0E0E0;
    font-size:90%;
}


.fill{
    font-family: Georgia, serif;
    font-size:100%;
}

.d-flex{
    margin-top: 3rem;
}

#flexContainer{
    border-radius: 1rem;
    height:35rem;
    width:75rem;
}

#overflow{
    border-radius: 1rem;
    height:100%;
    width:100%;
    overflow: hidden;
}

#headers{
    position: relative;
    color: gainsboro;
    text-shadow: 1.5px 1.5px 2px black;
    top:-111%;
    left:1%;
}

#title{
    color:#F0F0F0;
    font-size: 350%;
}

#type{
    font-size: 80%;

}

#img{
    height: 100%;
    width: 100%;

}

#slideContainer{
    height:100%;
    width:100%;
}

.slider{
    position:relative;
    background-color: #536872;
    height:100%;
    width:100%;


}

#left{
    top:-100%;
    left:40%;
}

#right{
    top:-200%;
    right:100%;
}

#changeDescription{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px  #fdd378;
    top:-290%;
    left:2%;
    width:36%;
    overflow: hidden;
    background-color: transparent;
    transition: left linear .3s;
}

#formContainer{
    color:white;
    position: relative;
    width:50%;
    top:-196%;
    left:45%;
}

.supplierSignup #forms{
    line-height: 70%;
}

.supplierSignup input{
    height:2.3rem;
}

.btn-outline-dark, .btn-outline-dark:hover, .btn-outline-dark:active, .btn-outline-dark:visited {
    background-color: #fdd378;
    border-color:#fdd378;
}



