<div class="container">
	<h1>{{ title }}</h1>
	<div class="row">
		<div class="col-md-8">
			<div class="card">
		        <h5 class="card-header">Forgot Password</h5>
		        <div class= "card-body">
		        	<div id="toReset">
				        <h6>To reset your password:</h6>
				        <p class="instructions">1. Enter the email associated with your account</p>
				        <p class="instructions">2. Wait to recieve email containing link to reset password</p>
				        <p class="instructions">3. Follow instructions</p>
			    	</div>
			        <form>
			            <div class="form-group">
		                <label for="email">Enter email associated with your account</label>
		                <input name="resetemail" type="text" class="form-control" required id="email" aria-describedby="emailHelp" placeholder="example@mail.com">
			            </div>
			            
			            <button routerLink="/login" type="Reset Password" class="btn btn-success">Change Password</button>
              			<a routerLink="/login">Sign in</a>


			        </form>
	    		</div>
			</div>
		</div>
  	</div>
</div>
