
  <div class="card">
    <div class="card-header bg-dark text-white">
        <div *ngIf="visibleJobs=='In Progress'" class="d-flex">
            <h3>Active Jobs</h3>
            <button class="btn btn-outline-light float-right changeButton ml-auto" (click)="changeVisible()">View Job History</button>
          </div>
          <div *ngIf="visibleJobs=='Complete'" class="d-flex">
            <h3>Job History</h3>
            <button class="btn btn-outline-light float-right changeButton ml-auto" (click)="changeVisible()">View Active Jobs</button>
          </div>
    </div>
    <div class="card-body">
      <div *ngIf="account.jobs.length==0 || viewJobs == 0" class="alert alert-dark" role="alert">
        You currently don't have any jobs!
      </div>

      <table id="jobTable" *ngIf="account.jobs.length>0 && viewJobs != 0" class="table">
        <thead>
          <tr id="table-head">
              <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let job of account.jobs; let i = index" >
          <tr *ngIf="job.status == visibleJobs" id="table-body">
            <th scope="row" data-toggle="modal" data-target="#viewModal" (click)="fillTempJob(i)"><a > {{job.title}} </a></th>
            <td align="center" *ngIf="job.status == 'Complete'">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16"><path fill-rule="evenodd" d="M12 5.5l-8 8-4-4L1.5 8 4 10.5 10.5 4 12 5.5z"/></svg>
              </span>
            </td>
            <td align="center" *ngIf="job.status== 'In Progress'">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16"><path fill-rule="evenodd" d="M8 8h3v2H7c-.55 0-1-.45-1-1V4h2v4zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"/></svg>
              </span>
            </td>
            <td>
              <button *ngIf="job.status == 'In Progress'" type="button" class="btn btn-sm statusBtn btn-dark" (click)="changeStatus(i)">Mark as Complete</button>
              <button *ngIf="job.status == 'Complete'" type="button" class="btn  btn-sm statusBtn btn-dark" (click)="changeStatus(i)">Mark as In Progress</button>
            </td>
            <td><button type="button" class="btn btn-sm btn-dark" (click)="deleteJob(i)">
                <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16"><path fill-rule="evenodd" d="M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z"/></svg>
                </span>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#editModal" (click)="fillTempJob(i)">
                  <span class="icon">
                  <svg id="pencil" xmlns="http://www.w3.org/2000/svg" width="14" height="16"  viewBox="0 0 14 16">
                    <path fill-rule="evenodd" d="M0 11.592v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3l-1.3 1.3-3-3 1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"/>
                  </svg>
                  </span>
              </button>
            </td>
            <!-- Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="tempJob.title">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit {{tempJob.title}} Job</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div id="editApp" class="modal-body">
                    <app-addjobs [indexJob]="i" [tempJob]="tempJob" [fromView]="true"></app-addjobs>
                  </div>
                  <div class="modal-footer" id="editFooter">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearTempJob()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateJob(i)">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><strong>Job Details</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <p><strong>Title: </strong>{{tempJob.title}}</p>
                      <p><strong>Address: </strong>{{tempJob.address}}</p>
                      <p><strong>City: </strong>{{tempJob.city}}</p>
                      <p><strong>State: </strong>{{tempJob.state}}</p>
                      <p><strong>Est. Cost: </strong>{{tempJob.cost | currency}}</p>
                      <p><strong>Start Date: </strong>{{tempJob.startDate}}</p>
                      <p><strong>End Date: </strong>{{tempJob.endDate}}</p>
                      <span><strong>Supplies:</strong></span>
                      <table class="table">
                          <tbody>
                            <tr *ngFor="let supply of tempJob.supplies; let i = index">
                              <td class="clearfix">
                                {{supply.name}}
                                <div class="float-right">
                                  <h6 *ngIf="!supply.supplier"> No supplier </h6>
                                  <h6 *ngIf="supply.supplier"> <a data-dismiss="modal" [routerLink]="['/supplierpage', supply.supplierId, this.account.id]">{{supply.supplier.name}}</a></h6>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearTempJob()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"data-toggle="modal" data-target="#editModal">
                        Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
      </table>
      <hr>
      <button id="create" type="button" class="btn btn-primary" routerLink="/addjobs/{{this.account.id}}">Create a new job</button>
    </div>
  </div>
