.container-fluid{
    padding-top:3rem;
}
* {
    font-family: Georgia, serif;
}
.card{
    width:50rem;
}
#table-head > th{
    border:none;
}
#table-body:hover > th{
    background-color:#E8E8E8;
    cursor: pointer;

}

#table-body:hover > td{
    background-color:whitesmoke;

}

.statusBtn{
    width:9rem;
}

#create{
    position: relative;
    left:38.5rem;
}

.btn{
    fill:currentColor;
}

.icon{
    position:relative;
    top:.2rem;
}
.status-icon{
    position:relative;
    left:1.2rem;
}

#editApp{
    position: relative;
    top:-2.5rem;
}

.btn-col{
    min-width:2rem;
    max-width:2rem;
}
