<div class="container-fluid fill">
	<div class="d-flex p-2">
		<div id="loginImg">
			<img id="img" src="\assets\images\login.jpg">
		</div>
		<div id="loginMessage">
			<p id="compName"> Construction </p>
		</div>
	</div>
	<div class="d-flex p-2">
		<div id="loginTextContainer">
			<div id="loginText">
				<h2>{{title}}</h2>
				<form>
					<div class="form-group">
						<label for="username"></label>
						<input name="loginusername" type="text" class="form-control" required id="email" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="account.email">
					</div>
					<div class="form-group">
						<label for="password"></label>
						<input name="loginpassword" type="password" class="form-control" required id="password" aria-describedby="emailHelp" placeholder="Password" [(ngModel)]="account.password">
					</div>
					<button type="Login" class="btn btn-primary">{{title}}</button>
					<a id="password" routerLink="/forgotpassword">Forgot Password</a>
					<br>
					<br>
					<p> Don't have an account?
						<a routerLink="/useraccount">Sign up</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>