
.fill{
    font-family: Georgia, serif;
	font-size:100%;
}

.d-flex{
    margin-top: 5rem;

}

#loginContainer{
	width:55rem;
	height: 26.75rem;
}

#loginTextContainer{
	position: relative;
	width:36.5%;
	height:84%;
	right:-63.5%;
	top:-92%;
	border-radius:1rem;
	color:white;
	background-color: #536872;	
	box-shadow: .5rem .5rem 3rem black;
	padding:2rem;
}

#loginImg{
	width:73%;
	height: 100%;
	box-shadow: .5rem .5rem 3rem black;
	border-radius:1rem;
}

#img{
	width:100%;
	height: 100%;
	border-radius:1rem;
}

#loginMessage{
	color:white;
	position:relative;
	width:72%;
	right:-10%;
	top:-70%;
	text-shadow: .25rem .25rem .75rem #fdd378;
}

#compName{
	font-size:500%;
}

a{
	color: #D3D3D3;
}

.badLogin{
	color: #fdd378;
	position:absolute;
}

#password{
	padding-left: 3%;
}

.dropdown-item{
	color:black;
}

