
.fill{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
    background: linear-gradient(to bottom right, #F8F9F9, 	#505050);
    font-family: Georgia, serif;
    font-size:100%;
}



#loginTextContainer{
	position:relative;
	left:-5rem;
	border-radius:1rem;
	color:white;
	background: #536872;	
	box-shadow: .5rem .5rem 3rem black;
	width:20rem;
	padding: 2rem;

}

#loginImg{
	width:40rem;
	box-shadow: .5rem .5rem 3rem black;
	border-radius:1rem;
}

#img{
	width:40rem;
	border-radius:1rem;
}

#loginMessage{
	color:white;
	position:absolute;
	width:20rem;
	right:50rem;
	top:15rem;
	text-shadow: .25rem .25rem .75rem grey;
}

#compName{
	font-size:5rem;
}

a{
	color: #D3D3D3;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: 	#A0A0A0;
    border-color: 	#A0A0A0;
}

.btn-primary:hover{
	background-color:	#787878;
	border-color:	#787878;
}

#password{
	padding-left: 3%;
}

